<div class="navbar">
  <div class="search">
    <a href="{% url 'post_list' %}">My低能卡</a>
    <form action="{% url 'search_post' %}" method="get">
      <!-- {% csrf_token %} -->
      <input type="text" name="query" placeholder="搜尋" />
      <button type="submit">
        {% load static %}
        <img src="{% static 'img/search-icon.svg' %}" alt="" />
      </button>
    </form>
  </div>
  <div class="auth">
    {% if user %}
    <a href="{% url 'profile'%}">{{user.username}}</a>
    <a href="{% url 'logout' %}">登出</a>
    {% else %}
    <a href="{% url 'login' %}">登入</a>
    <a href="{% url 'register' %}">註冊</a>
    {% endif %}
  </div>
</div>
