<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/style.css' %}" />
    <link
      rel="preload"
      href="https://kit.fontawesome.com/b61b5c8440.js"
      as="script"
    />
    <link
      rel="shortcut icon"
      href="{% static '/img/dcard-icon.png' %}"
      type="image/png"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ article.title }}</title>
  </head>
  <body>
    {% include "component/navbar.html" %}

    <div class="container">
      {% include "component/sidebar.html" %} {% load custom_filters %}
      <div class="main-container">
        <div class="article">
          <a
            class="detail"
            href="{% url 'post_list_by_category' category=article.category %}"
            >{{article.get_category_display }}</a
          >
          <h1>{{ article.title }}</h1>
          <p class="poster">{{article.poster|default:"匿名"}} 發表</p>
          <p class="detail">{{article.created_at|time}}</p>
          <p>{{ article.content }}</p>
        </div>
        <div style="width: 100%">
          {% if same_article %}
          <h3>{{article.get_category_display}}版更多</h3>
          {% endif %}
          <div class="recommend">
            {% if same_article %} {% for post in same_article %}

            <a class="card" href="{% url 'article_post' id=post.id %}">
              <p class="detail">{{post.get_category_display}}</p>
              <h1>{{post.title}}</h1>
              <p>{{post.content}}</p>
            </a>

            {% endfor %} {% endif %}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
